@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/cascadia-code.min.css");
body {
  background-color: #657786;
}

h1,
p {
  color: white;
  font-family: "Cascadia Code", sans-serif;
}

p {
  width: auto;
  padding: 30px;
  border: 2px solid black;
  border-radius: 20px;
  margin: 0;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  margin: 0;
  border: 5px solid #706c63;
}
